<div class="row">
    <div class="col-md-12">
        <div class="form-group" v-for="rFilter in filter.rows"  style="margin-bottom: 2px">
            <div class="input-group">
                <div class="input-group-btn">
                    {{rFilter.name}}
                    <select class="form-control" style="width: 200px" v-model="rFilter.name">
                        <option>--Select--</option>
                        <option v-for="r in filter.fields" :value="r.name">{{r.title}}</option>
                    </select>
                </div>
                <div class="input-group-btn">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-md dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-gear"></i>&nbsp;<span >{{rFilter.operator}}</span>
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu pull-right" role="menu">
                            <li><a href="#" @click="rFilter.operator = 'LIKE'">Like</a></li>
                            <li><a href="#" @click="rFilter.operator = '='">= (Equals)</a></li>
                            <li class="divider"></li>
                            <li><a href="#" @click="filter.addRow()"><i class="fa fa-plus"></i>&nbsp;Add New Filter</a></li>
                            <li><a href="#" @click="filter.del($index)"><i class="fa fa-minus"></i>&nbsp;Remove Filter</a></li>
                        </ul>
                    </div>
                </div>
                <input type="text" placeholder="Search Plan..." class="form-control"  v-model="rFilter.val"  @keypress.13="filter.fill()"/>
                <div class="input-group-btn">
                    <button class="btn btn-primary" ng-click="grd.filter()"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>